.LaunchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 10rem;
}

.LaunchesGrid {
  overflow-y: inherit;
  padding: 0 1rem;
  margin-bottom: 5rem;
}
