@import "../../index";

.Filter {
  position: sticky;
  top: 2rem;
  width: 100%;
  background: $body-grey;
  z-index: 2;
}

.FilterActions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
