.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  place-content: space-between;
}

.AuthorCredits {
  padding-left: 1rem;
  font-style: italic;
}

.LinkedinLink {
  padding-right: 1rem;
}
